# Ignore all .vscode folders in any subdirectory
**/.vscode/

# Ignore all input and output text files in any subdirectory
**/input.txt
**/output.txt

# Ignore all files named jspwTest.cpp and jspwTest.exe
jspwTest.cpp
jspwTest.exe